#menu-btn {
    position: fixed;
    display: block;
    width: 40px;
    height: 40px;
    top: 10px;
    left: 10px;
    z-index: 31;
    border-radius: 5px;
    text-align: center;
    padding-top: 5px;
}

#menu-btn i {
    font-size: 1.2em;
}

#menu-btn.open {
    left: 250px;
}

aside nav ul {
    margin: 0;
}
aside nav li {
    list-style-type: none;
}
aside nav li a {
    font-size: 1em;
    padding: 1.25em 1em;
    display: block;
    color: #B3B3B1;
    text-decoration: none;
}

/*aside nav li:last-child a {*/
    /*border-bottom: 1px solid #797979;*/
/*}*/
aside nav li a:hover {
    text-decoration: none;
}