@import "colors";
@import "decoration";
@import "text";
@import "fb";
@import "button";


@import url(http://fonts.googleapis.com/css?family=Oswald);

body {
  background: #C0C0C0;
  //font-family: 'Open Sans', Helvetica Neue, sans-serif;
  font-family: 'Oswald', sans-serif;

}

.panel {
  //background: @base;
  background: #fafafa;
  border-radius: 2px;
  transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  .z-1;
}

.card {
  background: #fafafa;
  border-radius: 2px;
  transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
  .z-1;
}

@jumbotron-font-size: 70px;
.panel-body {
  height: 230px;
}

.glyphicon-jumbotron {
  font-size: @jumbotron-font-size;
}

.glyphicon-jumbotron-2 {
  font-size: @jumbotron-font-size * 2px;
  margin-left: 5px;
  margin-top: 25px;
  //margin: 35px
}

.badge-live {
  background: @dark-base;
  letter-spacing: 0;
}

.header-holder {
  margin-bottom: 30px;
}


.feature-profile-avatar {
  border-radius: 15px;
}




#footer {
  margin-top: 30px;
  background-color: @dark-base;
  width: 100%;

}